<nav class="navbar navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">CRUD Nodejs Y Mongodb</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Enlace 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Enlace 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Enlace 3</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
